section {
  border: 2px solid #B1B1B1;
  margin: 10px;
  overflow: auto;
}
div {
  width: 337.25px;
  height: 337.25px;
}
.amarillo {
  background-color: #ffff00;
}
.azul {
  background-color: #0000ba;
}
.rojo {
  background-color: #dc0000;
}
 .float-left {
   float: left;
 }

.float-rigth {
  float: right;
}
