section {
  border: 2px solid #B1B1B1;
  margin: 10px;
  overflow: auto;
}
div {
  width: 216px;
  height: 216px;
}
#amarillo {
  background-color: #ffff00;
}
#azul {
  background-color: #0000ba;
}
#rojo {
  background-color: #dc0000;
}
 .float-left {
   float: left;
 }
